* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 10%;   
  background: #ccc;
  padding: 20px;
  height: 535px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  width: 43%;
}

nav ul a{
  color: #FFF;
  background: #000;
  height: 10px;
  text-decoration: none;
  padding: 0px 1px;
}

article {
  float: left;
  padding: 20px;
  width: 90%;
  background-color: #f1f1f1;
}

form div{
  width: 512px;
  background: #FFFDFF;
  border-bottom: 2px solid #935AE8;
  padding: 6px;
  margin: 5px;
}

.input{
  width: 236px;
}

div textarea{
  width: 500px;
}

.dados{
  width: 249px;
  display: inline-block;
}

#consulta{
  background: transparent;
  border: 0px;
}


/* Clear floats after the columns */
section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}