table {
  border: 1px solid;
  background: #ffffff;
  width: 100%;
  border-collapse: collapse;
}

table tr {
}

table tbody tr:nth-child(even) {
}

table tbody tr:hover {
  background: #6ae3f6;
  height: 50px;
  font-style: italic;
}

table th,
table td {
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #000;
}

table tr td:first-child {
  text-align: left;
  font-weight: bold;
}

thead {
  background: #1d23ab;
  color: whitesmoke;
}

#subhead {
  color: black;
  background: #a7c8f6;
  font-weight: bold;
}

.table-container {
  padding: 2rem 1rem;
}

.table-container tfoot {
  background: #eeeeee;
}

.table-container tfoot td {
  font-weight: bold;
}

@media (max-width: 425px) {
  .table-container {
    overflow-x: scroll;
    width: 140%;
  }
}
